body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

header {
    color: grey;
    font-size: 16px;
    padding: 30px 10px;
    text-align: center;
}

main {
    color: blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#densityButton {
    margin: 10px;
}

#grid {
    display: grid;
    width: 640px;
    height: 640px;
    background-color: grey;
}

.cell {
    border: 0px solid cyan;
}

footer {
    color: green;
}
